:root {
  --primary-color: #52489A;
  --secondary-color: #06A0D9;
  --terciary-color: #287AD5;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* body {
  min-height: -webkit-fill-available;
} */